.social {
  display: flex;
  justify-content: space-between;
  width: 95px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.social__item {
  display: block;
  width: 15px;
  height: 16px;
}
.social__link {
  display: block;
  width: 15px;
  height: 16px;
  background-color: red;
  font-size: 0;
}
